// font-family: 'Courgette', cursive;
// font-family: 'Rubik', sans-serif;

$fontHand: "Courgette",
cursive;

// UTILITIES
body {
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}

a {
  color: black;

  &:hover {
    text-decoration: none;
    color: black;
  }
}

.tombolBiru {
  background: #1b69ce;
  color: white !important;
  border-radius: 15px;

  &:hover {
    background: rgb(136, 187, 255);
    color: black !important;
  }
}

.tombolKuning {
  background: #fcd307;
  color: black !important;
  border-radius: 15px;

  &:hover {
    background: #ea9c1b;
    color: white !important;
  }
}

.tombolPutih {
  background: white;
  color: black !important;

  &:hover {
    background: #ea9c1b;
    color: white !important;
  }
}

.productCard {
  width: 250px;
  height: 380px;
  padding: 10px;
  margin: 10px 0px;
  overflow: hidden;

  .hover {
    border-radius: 30px;
    background: #E8EFEF;
    position: absolute;
    top: 60%;
    right: -100px;
    width: 110px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all .2s ease-in-out;
    opacity: 0;
    pointer-events: none;
    font-size: 1.2rem;
    -webkit-box-shadow: 10px 10px 20px -6px rgba(189, 189, 189, 1);
    -moz-box-shadow: 10px 10px 20px -6px rgba(189, 189, 189, 1);
    box-shadow: 10px 10px 20px -6px rgba(189, 189, 189, 1);

    a {
      transition: all .2s ease-in-out;

      &:hover {
        font-size: 1.4rem;

      }
    }

  }

  &:hover {

    .hover {
      right: 0;
      opacity: 1;
      pointer-events: visible;

    }
  }

  .productPic {
    height: 80%;
    // background: #fafafa;
    display: flex;
    align-content: center;
    justify-content: center;
    transition: 0.3s ease-in-out;



    img {
      object-fit: contain;
      width: 100%;
    }
  }

  .productName {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0;
  }

  .productPrice {
    font-size: 0.9rem;
  }
}

.tabProduct {
  nav {
    background: none !important;

    a {
      color: black;
    }

    .active {
      font-weight: bold;

      &::after {
        content: "";
        display: block;
        border-bottom: 2px solid black;
      }
    }

    .nav-tabs {
      border: none !important;
    }

    .nav-item {
      border: none;
    }
  }

  .tab-content {
    // border: none !important;
  }
}

.sosmedRounded {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-top: 9px;
  display: flex;
  justify-content: center;
  background: #0c0c0c;
  color: #E8EFEF;
  font-size: 1.5rem;

  &:hover {
    background: #5F6769;
    color: rgb(17, 16, 16);
  }
}

@media (min-width: 576px) {
  footer {
    color: #171819;
    background: #E8EFEF;
    margin-top: 50vh;
    min-height: 40vh;

    .footerKiri {
      height: auto !important;

      .sosmedContainer {
        width: 200px;
        display: flex;
        justify-content: flex-start;

        .sosmedRounded {
          margin-right: 10px;
        }
      }
    }

    .footerKanan {
      text-transform: uppercase;
      display: block !important;


      .payment {
        height: auto !important;
        display: flex;
        flex-direction: row !important;
        justify-content: flex-end;
        align-content: center;
        align-items: center;

        img {
          margin: 0px 10px;
          height: 100%;
        }
      }
    }
  }
}

footer {
  color: #171819;
  background: #E8EFEF;
  margin-top: 50vh;
  min-height: 40vh;

  .sosmedContainer {
    width: 200px;
    display: flex;
    justify-content: flex-start;

    .sosmedRounded {
      margin-right: 10px;
    }
  }

  .footerKanan {
    display: none;
    text-transform: uppercase;

    .payment {
      height: 80px !important;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-content: center;
      align-items: center;

      img {
        margin: 0px 10px;
        height: 100%;
      }
    }
  }
}

// ---------------------------------------------------------------------
// LOGIN---------------------------------------------------------------------

.loginForm,
.registerForm {
  input {
    border-radius: 40px;
  }


}


// LOGIN---------------------------------------------------------------------
// ---------------------------------------------------------------------
nav {
  background: #e8efef !important;
  // height: 0;

  .nav-item {
    position: relative;
    z-index: 9;
  }

  .search {
    height: 40px;

    .tombol {
      margin-left: -5px;
      height: 37px;
      width: 40px;
      background: wheat;

      &:hover {}
    }
  }
}

// INDEX----------------------------------------------------------------
// HEADER
header {
  .jumbotron {
    background: #e8efef !important;
    height: 80vh;
    overflow: hidden;

    .heroImage {
      img {
        height: 500px !important;
      }
    }

    .hero {
      margin-top: 60px;

      h2 {
        line-height: 30px;
      }

      .tombolBiru {
        width: 130px;
      }
    }

    //----------------
    .circle {
      height: 400px;
      width: 400px;
      border-radius: 50%;
      background: #204969;
      position: absolute;
      left: 130px;
    }

    .heroImage {
      img {
        margin-left: 200px;
        z-index: 3;
        position: relative;
      }
    }
  }
}

main {
  section.show {
    .forYouCard {
      margin: 20px 0px;
      top: 250px;

      .forYou {
        background-size: cover !important;
        height: 500px;
        width: 320px;
        display: flex;

        .tombolPutih {
          text-transform: uppercase;
          margin-left: 35%;
          height: 40px;
          margin-top: 100%;
        }
      }
    }
  }

  section.new {
    color: #e8efef;
    padding: 30px 0px;
    background: #171819;
    margin: 120px 0px;
  }

  @media (min-width: 576px) {

    section.show {
      .forYouCard {
        position: absolute;
        margin-top: -200px;

        .forYou {
          background-size: cover !important;
          height: 500px;
          width: 320px;
          display: flex;

          .tombolPutih {
            text-transform: uppercase;
            margin-top: 110%;
            margin-left: 35%;
            height: 40px;
          }
        }
      }
    }

    section.new {
      margin: 100px 0px;
    }
  }
}

// INDEX----------------------------------------------------------------

// CAT----------------------------------------------------------------
header {
  .jumbotronCat {
    .carouselCat {
      height: 100%;

      .carouselCatDesc {
        margin-top: 40px;
        text-transform: uppercase;
      }

      .carouselCatPic {
        height: 400px;
        width: 100%;

        img {
          height: 100%;
        }
      }
    }
  }
}

// CAT----------------------------------------------------------------

// DETAIL----------------------------------------------------------------

.navbarDetail {
  font-family: $fontHand;
}

main {
  section.breadcrumbArea {
    height: 20vh;
    position: relative;

    nav {
      width: 100% !important;
    }

    .breadRec {
      position: absolute;
      z-index: -1;
      bottom: -20px;
      left: 0;
      width: 100%;
      height: 120px;
      background: #f6f6fe;
    }

    .bread {
      margin-top: 50px;
    }
  }

  section.detail {
    padding: 40px 5px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px -5px 20px -6px rgba(0, 0, 0, 0.75);
    background: #f6f6fe;

    .detailPic {
      width: 100%;
      height: 700px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;

      .bigPic {
        align-self: center;
        height: 80%;

        img {
          height: 100%;
        }
      }

      .thumbPic {
        align-self: center;
        box-shadow: 7px 6px 19px -6px rgba(0, 0, 0, 0.75);
        border-radius: 10px 10px 10px 10px;
        background: white;
        height: 20%;
        width: 100%;
        display: flex;
        justify-content: space-around;

        img {
          height: 100%;
        }
      }
    }

    //---------------
    .detailProduct {
      margin-top: 60px !important;
      padding: 10px;
    }

    .detailProductDesc {
      padding-right: 30px;
    }
  }

  section.similiarProduct {
    .productCard {
      width: 200px;
      height: 330px;
    }

    .productPic {
      height: 80%;
    }
  }

  @media (min-width: 576px) {
    section.breadcrumbArea {
      height: 25vh;
      position: relative;

      .breadRec {
        position: absolute;
        z-index: -1;
        bottom: -20px;
        left: 0;
        width: 100%;
        height: 120px;
        background: #f6f6fe;
      }

      .bread {
        margin-top: 50px;
      }
    }

    section.detail {
      padding: 40px 5px;
      border-radius: 20px 20px 20px 20px;
      box-shadow: 0px -5px 20px -6px rgba(0, 0, 0, 0.75);
      background: #f6f6fe;

      .detailPic {
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        .bigPic {
          align-self: center;
          height: 80%;

          img {
            height: 100%;
          }
        }

        .thumbPic {
          align-self: center;
          box-shadow: 7px 6px 19px -6px rgba(0, 0, 0, 0.75);
          border-radius: 10px 10px 10px 10px;
          background: white;
          height: 20%;
          width: 100%;
          display: flex;
          justify-content: space-around;

          img {
            height: 100%;
          }
        }
      }

      //---------------
      .detailProductDesc {
        padding-right: 30px;
      }
    }

    section.similiarProduct {
      .productCard {
        width: 200px;
        height: 330px;
      }

      .productPic {
        height: 80%;
      }
    }
  }
}

// DETAIL----------------------------------------------------------------

// SHOPPING CART PAGE----------------------------------------------------------------
main {
  section.shoppingCart {
    .cartAndCheckout {
      height: 100vh;

      .cartDetail {
        padding: 0px 30px;
        padding-top: 30px;
        background: #e8efef;

        .cardDetailHeader {
          h2 {
            font-size: 1.4rem;
          }

          h3 {
            font-size: 1rem;
          }
        }

        .cardDetailTable {
          height: 60%;
          overflow: scroll;

          img {
            height: 150px;
          }
        }

        .cardDetailFooter {
          line-height: initial;
          margin-top: 60px;

          a {
            transition: 0.1s ease-in-out;

            &:hover {
              font-size: 1.1rem;
            }
          }
        }
      }

      .checkout {
        padding: 30px;
        background: #4b5050 !important;
        color: whitesmoke;

        .tombolBiru {
          width: 100%;
          height: 70px;
          // border-radius: ;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  @media (min-width: 576px) {
    section.shoppingCart {
      overflow: hidden;
      height: 100vh;

      .cartAndCheckout {
        height: 100vh;

        .cartDetail {
          padding: 20px 80px;
          background: #e8efef;

          .cardDetailTable {
            height: 60%;
            overflow: scroll;

            img {
              height: 150px;
            }
          }

          .cardDetailFooter {
            line-height: initial;
            margin-top: 40px;

            a {
              transition: 0.1s ease-in-out;

              &:hover {
                font-size: 1.1rem;
              }
            }
          }
        }

        .checkout {
          padding-top: 30px;
          padding-right: 25px;
          background: #3c3534;
          color: whitesmoke;

          .tombolBiru {
            width: 100%;
            height: 70px;
            // border-radius: ;
          }
        }
      }
    }
  }
}

// SHOPPING CART PAGE----------------------------------------------------------------

// SUCCESS PAGE----------------------------------------------------------------


section.success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
    font-size: 1.7rem;

    i {
      font-size: 2.8rem;
    }
  }

  img {
    width: 300px;
  }
}


@media (min-width: 576px) {
  section.success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      text-align: center;
      font-size: 2.7rem;

      i {
        font-size: 4rem;
      }
    }

    img {
      width: 600px;
    }
  }
}

// SUCCESS PAGE----------------------------------------------------------------